html,
body {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: ; */
    font-size: 2vw;
}

#main {
    height: 100%;
    width: 100%;
    color: white;
    z-index: 99999;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-size: 30px;
}

#PLN-header{
    font-family: 'Lucida Sans';
    color:orange;
    font-size: 60px;
}
#background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/6--848187-Hand\ and\ coins\,\ isolated\ on\ white\ background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;

}

.inner-main{
    color:orange;
}

h3{
    font-family: 'Lucida Sans', cursive;
    color:black;
}

#main .inner-main {
    display: inline-block;
    padding: 30px;
}


#main .inner-main .fa-arrow-up {
    color:green;
}

#main .inner-main .fa-arrow-down {
    color: red;
}


#main .inner-main .fa-minus {
    color: blue;
}


.coin{
animation: spin 5s infinite linear;
width:50px;
height: 50px;
}

@keyframes spin
{
  100%
  {
    transform: rotate3d(1,1,1,360deg);
  }
}


footer {
   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:pink;
    color: skyblue;

    text-align: center;
}